# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: $(Build.SourceVersion)
jobs:
- job: Linux
  timeoutInMinutes: 0
  pool:
    vmImage: 'Ubuntu 16.04'

  variables:
    ESY__CACHE_INSTALL_PATH: /home/vsts/.esy/3_____________________________________________________________________/i/
    ESY__CACHE_SOURCE_TARBALL_PATH: /home/vsts/.esy/source/i

  steps:
  # TODO: Uncomment both this and 'publish-build-cache' below to enable build caching for Linux.
  # - template: .ci/restore-build-cache.yml
  - script: sudo apt-get install -y fish coreutils
  - script: .ci/create-static-binary.sh
  - script: ./feature_tests/run.sh $(pwd)/fnm
  # - script: bash .ci/prepare-static-build.sh
  # - template: .ci/esy-build-steps.yml
  # - template: .ci/publish-build-cache.yml
  - task: PublishBuildArtifacts@1
    displayName: 'Save artifact'
    inputs:
        PathtoPublish: fnm
        ArtifactName: fnm-linux

- job: MacOS
  timeoutInMinutes: 0
  pool:
    vmImage: 'macOS 10.14'

  variables:
    ESY__CACHE_INSTALL_PATH: /Users/vsts/.esy/3____________________________________________________________________/i/
    ESY__CACHE_SOURCE_TARBALL_PATH: /Users/vsts/.esy/source/i

  steps:
  # TODO: Uncomment both this and 'publish-build-cache' below to enable build caching for Mac.
  # - template: .ci/restore-build-cache.yml
  - script: brew install fish gmp
  - script: sudo rm $(brew --prefix gmp)/lib/*.dylib
  # remove /usr/local/lib/libgmp.dylib
  - template: .ci/esy-build-steps.yml
  - script: cp _esy/default/build/default/executable/FnmApp.exe _esy/default/build/fnm
  - script: otool -L _esy/default/build/fnm
    displayName: 'list dynamic libraries'
  - script: strip _esy/default/build/fnm
  - script: ./feature_tests/run.sh $(pwd)/_esy/default/build/fnm
  # - template: .ci/publish-build-cache.yml
  - task: PublishBuildArtifacts@1
    displayName: 'Save artifact'
    inputs:
        PathtoPublish: '_esy/default/build/fnm'
        ArtifactName: fnm-macos

- job: Release
  timeoutInMinutes: 0
  displayName: Release
  dependsOn:
      - Linux
      - MacOS
  condition: succeeded()
  pool:
     vmImage: ubuntu-16.04
  steps:
    - task: PublishBuildArtifacts@1
      displayName: 'Release Package'
      inputs:
          PathtoPublish: '.'
          ArtifactName: npm-package
