[package]
name = "fnm"
version = "1.22.9"
authors = ["Gal Schlezinger <gal@spitfire.co.il>"]
edition = "2018"
build = "build.rs"
license = "GPL-3.0"
repository = "https://github.com/Schniz/fnm"
description = "Fast and simple Node.js version manager"

[dependencies]
serde = { version = "1.0.120", features = ["derive"] }
clap = "2.33.3"
structopt = "0.3.21"
reqwest = { version = "0.11.0", features = ["blocking", "json", "rustls-tls", "brotli"], default-features = false }
serde_json = "1.0.61"
chrono = { version = "0.4.19", features = ["serde"] }
tar = "0.4.30"
xz2 = "0.1.6"
semver = "0.11.0"
dirs = "3.0.1"
colored = "2.0.0"
zip = "0.5.9"
tempfile = "3.2.0"
indoc = "1.0.3"
snafu = { version = "0.6.10", features = ["backtrace"] }
log = "0.4.13"
env_logger = "0.8.2"
atty = "0.2.14"
encoding_rs_io = "0.1.7"

[dev-dependencies]
pretty_assertions = "0.6.1"
duct = "0.13.4"
test-env-log = "0.2.4"
shell-escape = "0.1.5"
insta = { version = "1.5.2", features = ["backtrace"] }
serial_test = "0.5.1"

[build-dependencies]
embed-resource = "1.4.1"

[target.'cfg(windows)'.dependencies]
csv = "1.1.5"
