[package]
name = "fnm"
version = "1.28.0"
authors = ["Gal Schlezinger <gal@spitfire.co.il>"]
edition = "2018"
build = "build.rs"
license = "GPL-3.0"
repository = "https://github.com/Schniz/fnm"
description = "Fast and simple Node.js version manager"

[dependencies]
serde = { version = "1.0.130", features = ["derive"] }
clap = "2.33.3"
structopt = "0.3.25"
serde_json = "1.0.70"
chrono = { version = "0.4.19", features = ["serde"] }
tar = "0.4.37"
xz2 = "0.1.6"
semver = "1.0.4"
dirs = "4.0.0"
colored = "2.0.0"
zip = "0.5.13"
tempfile = "3.2.0"
indoc = "1.0.3"
snafu = { version = "0.6.10", features = ["backtrace"] }
log = "0.4.14"
env_logger = "0.9.0"
atty = "0.2.14"
encoding_rs_io = "0.1.7"
ureq = { version = "2.3.1", features = ["json"] }
url = "2.2.2"
brotli-decompressor = "2.3.2"
sysinfo = "0.21.1"

[dev-dependencies]
pretty_assertions = "1.0.0"
duct = "0.13.5"
test-env-log = "0.2.7"
shell-escape = "0.1.5"
insta = { version = "1.8.0", features = ["backtrace"] }
serial_test = "0.5.1"

[build-dependencies]
embed-resource = "1.6.5"

[target.'cfg(windows)'.dependencies]
csv = "1.1.6"
junction = "0.2.0"

[features]
