[package]
name = "fnm"
version = "1.22.0"
authors = ["Gal Schlezinger <gal@spitfire.co.il>"]
edition = "2018"
build = "build.rs"

[dependencies]
serde = { version = "1.0.116", features = ["derive"] }
clap = "2.33.3"
structopt = "0.3.20"
reqwest = { version = "0.10.8", features = ["blocking", "json"] }
serde_json = "1.0.59"
chrono = { version = "0.4.19", features = ["serde"] }
tar = "0.4.30"
xz2 = "0.1.6"
semver = "0.11.0"
dirs = "3.0.1"
colored = "2.0.0"
zip = "0.5.8"
tempfile = "3.1.0"
indoc = "1.0.3"
snafu = { version = "0.6.9", features = ["backtrace"] }
log = "0.4.11"
env_logger = "0.7.1"
atty = "0.2.14"
encoding_rs_io = "0.1.7"
dircpy = "0.3.4"

[dev-dependencies]
pretty_assertions = "0.6.1"
duct = "0.13.4"
test-env-log = "0.2.2"
shell-escape = "0.1.5"
insta = { version = "1.1.0", features = ["backtrace"] }
serial_test = "0.5.0"

[build-dependencies]
embed-resource = "1.3.3"

[target.'cfg(windows)'.dependencies]
csv = "1.1.3"
