[package]
name = "fnm"
version = "1.31.0"
authors = ["Gal Schlezinger <gal@spitfire.co.il>"]
edition = "2021"
build = "build.rs"
license = "GPL-3.0"
repository = "https://github.com/Schniz/fnm"
description = "Fast and simple Node.js version manager"

[dependencies]
serde = { version = "1.0.136", features = ["derive"] }
clap = { version = "3.0.14", features = ["derive", "env"] }
serde_json = "1.0.79"
chrono = { version = "0.4.19", features = ["serde"] }
tar = "0.4.38"
xz2 = "0.1.6"
semver = "1.0.5"
dirs = "4.0.0"
colored = "2.0.0"
zip = "0.5.13"
tempfile = "3.3.0"
indoc = "1.0.4"
log = "0.4.14"
env_logger = "0.9.0"
atty = "0.2.14"
encoding_rs_io = "0.1.7"
reqwest = { git = "https://github.com/seanmonstar/reqwest.git", rev = "d92d2aa3ce4667faa38454c8dae4fa9f72b91b71", features = ["blocking", "json", "rustls-tls", "rustls-tls-native-roots", "brotli"], default-features = false }
url = "2.2.2"
sysinfo = "0.23.2"
thiserror = "1.0.30"
clap_complete = "3.0.6"
anyhow = "1.0.53"

[dev-dependencies]
pretty_assertions = "1.1.0"
duct = "0.13.5"
shell-escape = "0.1.5"
insta = { version = "1.12.0", features = ["backtrace"] }
serial_test = "0.5.1"
test-log = "0.2.8"

[build-dependencies]
embed-resource = "1.6.5"

[target.'cfg(windows)'.dependencies]
csv = "1.1.6"
junction = "0.2.0"

[features]
